<!doctype html>

<html lang="de">
    <head>
        <meta charset="utf-8">

        <title>mymensa2openmensa Parser Index</title>
        <meta name="description" content="List of all Mensa Data">
        <meta name="author" content="Bruno Burke">
        <style>
         html {
             font-size: 62.5%; }
         body {
             font-size: 1.5em;
             line-height: 1.6;
             font-weight: 400;
             font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
             color: #222; }
         h1, h2, h3, h4, h5, h6 {
             margin-top: 0;
             margin-bottom: 2rem;
             font-weight: 300; }
         h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
         .container {
             position: relative;
             width: 100%;
             max-width: 960px;
             margin: 0 auto;
             padding: 0 20px;
             box-sizing: border-box; }
         @media (min-width: 400px) {
             .container {
                 width: 85%;
                 padding: 0; }
         }
         @media (min-width: 550px) {
             .container {
                 width: 80%; }}
        </style>
    </head>

    <body>
        <div class="container">
            <h1>Open-Mensa Feed</h1>
            <p>List of all Open-Mensa Feed and Meta.</p>
            <a href="./meta/feed.json" target="_blank">JSON Feed</a>
            <ul>
                {% for mensa in mensas %}
                <li>[{{mensa.mensa-code}}] {{mensa.title}}<br />
                    (<a href="{{mensa.meta-url}}" target="_blank">meta</a>) (<a href="{{mensa.feed-url}}" target="_blank">full feed</a>)
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
